<span *ngIf="this.loading" class="spinner-border spinner-border-sm mr-1"></span>
<mat-nav-list>
  <span class="nav-caption" *ngFor="let item of navItems">
    <!-- Handle branch node buttons here -->
    <span class="nav-caption" *ngIf="item.children && item.children.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled" >
        <mat-icon>{{item.iconName_front}}</mat-icon>
        <span class="designation" >{{item.display_name}}</span>
        <span><mat-icon>{{item.iconName_back}}</mat-icon></span>
      </button>
      <app-menu-item #menu [items]="item.children"></app-menu-item>
    </span>
    <!-- Leaf node buttons here -->
    <span class="nav-caption" *ngIf="!item.children || item.children.length === 0">
      <button mat-menu-item [routerLink]="item.route">
        <mat-icon>{{item.iconName_front}}</mat-icon>
        <span class="designation">{{item.display_name}}</span>
        <!-- <span><mat-icon>{{item.iconName_back}}</mat-icon></span> -->
      </button>
    </span>
  </span>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="logOut()">
    <mat-icon>power_settings_new</mat-icon><span class="logout">Log Out</span>
  </a>
</mat-nav-list>