<form [formGroup]="frmGrpAddMinistry" #form="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <label for="">เพิ่มหน่วยงานที่เกี่ยวข้อง</label>
                    <div class="float-right">
                        <button mat-icon-button class="mx-auto" (click)="onNoClick()">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group"><label for="">หน่วยงานที่เกี่ยวข้อง</label></div>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>หน่วยงานที่เกี่ยวข้อง</mat-label>
                            <mat-select formControlName="ddlministry" placeholder="หน่วยงานที่เกี่ยวข้อง" [(ngModel)]="this.ConsulationministryviewModel.ministry_id" [errorStateMatcher]="matcher">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="MinistryFilter" placeholderLabel="ค้นหาหน่วนงานที่เกี่ยวข้อง" noEntriesFoundLabel="ไม่พบหน่วนงานที่เกี่ยวข้อง"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of this.FilteredMinistry | async" [value]="element.ministry_id">
                                    {{element.ministry_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="frmGrpAddMinistry.controls.ddlministry.hasError('required')">กรุณาเลื่อกหน่วยงานที่เกี่ยวข้อง</mat-error>
                        </mat-form-field>
                    </div>

                    <div style="text-align: center;">
                        <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="form.invalid" [mat-dialog-close]="1">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            บันทึก
                        </button>&nbsp;&nbsp;&nbsp;
                        <button mat-raised-button (click)="onNoClick()" color="warn" tabindex="-1" [mat-dialog-close]="0">ยกเลิก</button>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>