<form [formGroup]="frmGrpAddcostcenter" #form="ngForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <label for="">เพิ่มหน่วยงาน</label>
                    <div class="float-right">
                        <button mat-icon-button class="mx-auto" (click)="onNoClick()">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group"><label for="">ชื่อหน่วยงาน</label></div>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>ชื่อหน่วยงาน</mat-label>
                            <input matInput #costcentername type="text" formControlName="costcenter_name" placeholder="ชื่อหน่วยงาน" 
                            [(ngModel)]="this.CostcenterModel.costcenter_name" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="frmGrpAddcostcenter.controls.costcenter_name.hasError('required')">กรุณาระบุชื่อหน่วยงาน</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group"><label for="">หน่วยงาน</label></div>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>หน่วยงาน</mat-label>
                            <input matInput #costcentershortname type="text" formControlName="costcenter_shortname" placeholder="ชื่อหน่วยงาน" 
                            [(ngModel)]="this.CostcenterModel.costcenter_shortname" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="frmGrpAddcostcenter.controls.costcenter_shortname.hasError('required')">กรุณาระบุชื่อหน่วยงาน</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div style="text-align: center;">
                        <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="form.invalid" [mat-dialog-close]="1">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            บันทึก
                        </button>&nbsp;&nbsp;&nbsp;
                        <button mat-raised-button (click)="onNoClick()" color="warn" tabindex="-1" [mat-dialog-close]="0">ยกเลิก</button>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
