<div class="login-img custom-bg">
    <app-loading *ngIf="loading">
    </app-loading>
    <div class="page">
      <div class="custompage" style="background-image: linear-gradient(to top, #800000 0%, #ffffff 100%);">
        <div class="custom-content  mt-0"
          style="color:white;background-image: linear-gradient(to top, #800000 0%, #bd5959 100%);">
          <div class="row">
            <div class="col d-block mx-auto">
              <div class="row">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="col-md-12">
                    <img src="../assets/images/logo-plm.png" height="200px"  alt="สำนักงานเลขาธิการสภาผู้แทนราษฎร">
                    <p></p>
                    <p>
                      <a style="color: white;font-family: inherit;font-size: xx-large;">C4M</a>
                    </p>
                    <p>
                      <a style="color: white;font-family: inherit;font-size: medium;">ระบบการจัดการข้อปรึกษาหารือของสมาชิกสภาผู้แทนราษฎร</a>
                    </p>
                    <div class="form-group  text-left">
                      <label class="form-label text-left" for="exampleInputEmail1"><i class="fa fa-user"></i>
                        Username</label>
                      <input type="text" formControlName="username" class="form-control" placeholder="Username"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                      </div>
                    </div>
                    <div class="form-group  text-left">
                      <label for="inputPassword3" class="text-left form-label"><i class="fa fa-lock"></i> Password</label>
                      <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control"
                        placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                      </div>
                    </div><br>
                    <div class="text-left">
                      <button [disabled]="loading" class="btn" style="background-color:white;color: slategray;">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <i class="glyphicon glyphicon-log-in"></i>
                        Login
                      </button>
                    </div>
                    <div class="text-left mt-4" style="color:yellow;">
                      <label *ngIf="error">!!! {{error}}</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>