<div class="card-header assert-col">
    <button mat-icon-button  (click)="backClicked()" >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <label for=""> รายละเอียดข้อหารือของสมาชิกสภาผู้แทนราษฎร </label>
</div>

<div class="card-body assert-row">
  <div class="card-header background-white">
      <label for=""> ข้อหารือ </label>
  </div>

  <div class="mat-elevation-z8 margin-bottom-60">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="meeting_id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="consulationdetail_topic">
            <th mat-header-cell *matHeaderCellDef> ข้อหารือ </th>
            <td mat-cell *matCellDef="let element"> {{element.consulationdetail_topic}} </td>
        </ng-container>
        <ng-container matColumnDef="consulationdetail_detail">
            <th mat-header-cell *matHeaderCellDef> รายละเอียดข้อหารือ </th>
            <td mat-cell *matCellDef="let element"> {{element.consulationdetail_detail}} </td>
        </ng-container>
        <ng-container matColumnDef="meeting_date">
            <th mat-header-cell *matHeaderCellDef> วันที่ประชุม </th>
            <td mat-cell *matCellDef="let element"> {{element.meeting_date | thaidate: 'medium'}} </td>
        </ng-container>
        <ng-container matColumnDef="meetingset_desc">
            <th mat-header-cell *matHeaderCellDef> ชุดที่ </th>
            <td mat-cell *matCellDef="let element"> {{element.meetingset_desc}} </td>
        </ng-container>
        <ng-container matColumnDef="meeting_year">
            <th mat-header-cell *matHeaderCellDef> ปีที่ </th>
            <td mat-cell *matCellDef="let element"> {{element.meeting_year}} </td>
        </ng-container>
        <ng-container matColumnDef="meeting_time">
            <th mat-header-cell *matHeaderCellDef> ครั้งที่ </th>
            <td mat-cell *matCellDef="let element"> {{element.meeting_time}} </td>
        </ng-container>
        <ng-container matColumnDef="meetingterm_name">
            <th mat-header-cell *matHeaderCellDef> สมัยประชุม </th>
            <td mat-cell *matCellDef="let element"> {{element.meetingterm_name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">   
            <th mat-header-cell *matHeaderCellDef>
                <span style="font-size:smaller;">Refresh</span>
                <button mat-icon-button color="accent" (click)="loadData()">
                    <mat-icon aria-label="Refresh">refresh</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element; let i=index;" style="text-align: center;">
                <!-- <button mat-icon-button color="primary" (click)="viewDetail(i,element)">
                    <mat-icon aria-label="question_answer">question_answer</mat-icon>
                </button> -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator #paginator [pageSize]="this.pageSize" [pageSizeOptions]="this.pageSizeOptions" showFirstLastButtons></mat-paginator> -->
</div>

<div class="card-header background-white">
    <label for=""> หน่วยงานที่เกี่ยวข้อง </label>
</div>

<div class="mat-elevation-z8 margin-bottom-60">
    <table mat-table [dataSource]="dataSourceCSLM" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="meeting_id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="ministry_name">
            <th mat-header-cell *matHeaderCellDef> หน่วยงานที่เกี่ยวข้อง </th>
            <td mat-cell *matCellDef="let element"> {{element.ministry_name}} </td>
        </ng-container>
        <ng-container matColumnDef="status_name">
            <th mat-header-cell *matHeaderCellDef> สถานะการดำเนินการ </th>
            <td mat-cell *matCellDef="let element"> {{element.status_name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <!-- <span style="font-size: smaller;">เพิ่มหน่วยงานที่เกี่ยวข้อง</span>
                <button mat-icon-button color="primary" (click)="openAddCSLMDialog()">
                    <mat-icon aria-label="Add">add</mat-icon>
                </button> -->
                <span style="font-size: smaller;">Refresh</span>
                <button mat-icon-button color="accent" (click)="loadData()">
                    <mat-icon aria-label="Refresh">refresh</mat-icon>
                </button>
            </th>

            <td mat-cell *matCellDef="let element; let i=indexCSLM;" style="text-align: center;">
                <button mat-icon-button color="primary" (click)="viewResponse(i,element)">
                    <mat-icon aria-label="question_answer">question_answer</mat-icon>
                </button>
                <!-- <button mat-icon-button color="accent" (click)="editCSLMItem(i,element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCSLMItem(i,element)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button> -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsCSLM"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCSLM;"></tr>
    </table>
    <!-- <mat-paginator #paginatorCSLM [pageSize]="this.pageSizeCSLM" [pageSizeOptions]="this.pageSizeOptionsCSLM" showFirstLastButtons></mat-paginator> -->
</div>

<div class="card-header background-white">
    <label for=""> จังหวัด </label>
</div>

<div class="mat-elevation-z8 margin-bottom-60">
    <table mat-table [dataSource]="dataSourceCSLP" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="meeting_id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="province_name">
            <th mat-header-cell *matHeaderCellDef> จังหวัด </th>
            <td mat-cell *matCellDef="let element"> {{element.province_name}} </td>
        </ng-container>
        <ng-container matColumnDef="region_name">
            <th mat-header-cell *matHeaderCellDef> ภูมิภาค </th>
            <td mat-cell *matCellDef="let element"> {{element.region_name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <!-- <span style="font-size: smaller;">เพิ่มจังหวัด</span>
                <button mat-icon-button color="primary" (click)="openAddCSLPDialog()">
                    <mat-icon aria-label="Add">add</mat-icon>
                </button> -->
                <span style="font-size: smaller;">Refresh</span>
                <button mat-icon-button color="accent" (click)="loadData()">
                    <mat-icon aria-label="Refresh">refresh</mat-icon>
                </button>
            </th>

            <td mat-cell *matCellDef="let element; let i=indexCSLP;" style="text-align: center;">
                <!-- <button mat-icon-button color="accent" (click)="editCSLPItem(i,element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCSLPItem(i,element)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button> -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsCSLP"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCSLP;"></tr>
    </table>
    <!-- <mat-paginator #paginatorCSLP [pageSize]="this.pageSizeCSLP" [pageSizeOptions]="this.pageSizeOptionsCSLP" showFirstLastButtons></mat-paginator> -->
</div>

  <div class="card-header background-white">
    <label for=""> เอกสารแนบ </label>
  </div>

<div class="mat-elevation-z8 margin-bottom-60">
    <table mat-table [dataSource]="dataSourceAttach" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="meeting_id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
        </ng-container>
        <ng-container matColumnDef="attach_name">
            <th mat-header-cell *matHeaderCellDef> ชื่อเอกสาร </th>
            <td mat-cell *matCellDef="let element"> {{element.attach_name}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <!-- <span style="font-size: smaller;">เพิ่มเอกสารแนบ</span>
                <button mat-icon-button color="primary" (click)="openAddAttachDialog()">
                    <mat-icon aria-label="Add">add</mat-icon>
                </button> -->
                <span style="font-size: smaller;">Refresh</span>
                <button mat-icon-button color="accent" (click)="loadData()">
                    <mat-icon aria-label="Refresh">refresh</mat-icon>
                </button>
            </th>

            <td mat-cell *matCellDef="let element; let i=indexAttach;" style="text-align: center;">
                
                <!-- <button mat-icon-button color="accent" (click)="editAttachItem(i,element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button> -->
                <button mat-icon-button style="color: #8FBC8F" (click)="downloadAttach(i,element)">
                    <mat-icon aria-label="Edit">download</mat-icon>
                </button>
                <!-- <button mat-icon-button color="warn" (click)="deleteAttachItem(i,element)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button> -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAttach"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAttach;"></tr>
    </table>
    <!-- <mat-paginator #paginatorAttach [pageSize]="this.pageSizeAttach" [pageSizeOptions]="this.pageSizeOptionsAttach" showFirstLastButtons></mat-paginator> -->
</div>










</div>