<div class="container">
    <h3 mat-dialog-title>ต้องการลบข้อมูล ?</h3>
    <div mat-dialog-content>
      ID: {{ConsulationdetailviewModel.consulationdetail_id}}
      <p></p>
      ประเภทเรื่อง: {{ConsulationdetailviewModel.topictype_name}}
      <p></p>
      วัตถุประสงค์: {{ConsulationdetailviewModel.objective_name}}
      <p></p>
      ข้อปรึกษาหารือ : {{ConsulationdetailviewModel.consulationdetail_topic}}
      <p></p>
      รายละเอียดข้อปรึกษาหารือ : {{ConsulationdetailviewModel.consulationdetail_detail}}
    </div>
      <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete(ConsulationdetailviewModel)">Delete</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>