<div class="container">
    <h3 mat-dialog-title>ต้องการลบข้อมูล ?</h3>
    <div mat-dialog-content>
      ID: {{ConsulationViewModel.counselor_id}}
      <p></p>
      ผู้หารือ : {{ConsulationViewModel.counselor_title}}{{ConsulationViewModel.counselor_name}} {{ConsulationViewModel.counselor_middlename}} {{ConsulationViewModel.counselor_surname}}
      <p></p>
      ประเภทสมาชิก : {{ConsulationViewModel.counselortype_name}} 
      <p></p>
      พรรคการเมือง : {{ConsulationViewModel.partylist_name}}
      <p></p>
      ฝ่ายการเมือง : {{ConsulationViewModel.counselordivision_name}}
    </div>
      <div mat-dialog-actions>
      <button mat-button color="warn" [mat-dialog-close]="1" (click)="confirmDelete(ConsulationViewModel)">Delete</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>